# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# PySpark / Spark
spark-warehouse/
metastore_db/

# Temporary files
tmp/
temp/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS credentials
.aws/
